{% extends "base.html.twig" %}

{% block title %}Feed{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/template.css') }}">
{% endblock %}
{% block body %}
    <header>
        <nav>
            <div class="search">
                <input type="text" id="search_field" placeholder="введите имя пользователя...">
                <button id="search_button">Найти</button>
            </div>
            <div class="links"><a href="{{ path('feed_action') }}">Лента</a></div>
            <div class="links"><a href="{{ path('user_profile') }}">Моя страница</a></div>
            <div style="position: absolute; right: 200px; top: 10px">
                <a style="text-decoration: none" href="{{ path('app_profile_newphoto') }}">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </a>
            </div>
            <div class="avatar">
                <a href="{{ path('user_profile') }}">
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" width="50">
                </a>
            </div>
            <div class="button" style="display: inline-block"><a href="{{ path('fos_user_security_logout') }}">Выйти</a></div>
        </nav>
    </header>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/searcher.js') }}"></script>
{% endblock %}