{% trans_default_domain 'FOSUserBundle' %}

<style>
    .register-wrapper {
        width: 500px;
        margin: 10% auto;
        box-shadow: 0 2px 15px gray;
        padding: 20px;
        text-align: center;
    }
    .register-wrapper input {
        margin: 5px;
    }
</style>
<div class="register-wrapper">
    <h1>Регистрация</h1>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
<script>
</script>