body {
    background: #e7e7e7;
}
.wrapper {
    width: 800px;
    box-shadow: none;
    background: transparent;
    padding: 0;
}
.photo-box {
    border-radius: 5px;
    margin: 20px auto;
    background: white;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px gray;
    position: relative;
}
.photo-box .image {
    background: black;
    text-align: center;
    font-size: 0;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.photo-box .image img {
    max-width: 500px;
    max-height: 500px;
}
.photo-author {
    padding: 5px 20px 0;
}
.author-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.photo-author a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -20px;
    left: 10px;
}
.fa-heart {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 500ms;
}
.photo-box .data {
    padding: 10px;
}
.comment-field {
    box-sizing: border-box;
    width: 500px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}