.top-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.avatar-block {
    width: 30%;
    padding: 20px;
}
.avatar-block .user-avatar {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.info-block {
    width: 60%;
    padding: 20px;
}
.photo-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 50px 0 20px;
    height: 100%;
}
.photo-box {
    width: 250px;
    height: 250px;
    overflow: hidden;
    background: black;
    margin: 5px;
}
.user-info {
    font-weight: bold;
    font-size: 18px;
}
#follow {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
}