body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
header {
    padding: 20px;
    background: #252525;
    text-align: center;
}
nav {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
nav .links {
    display: inline-block;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    transition: all 500ms;
    padding: 5px;
    margin: 0 10px;
}
nav .links a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
nav .links:hover {
    border-bottom: 2px solid white;
}
.button {
    border: 2px solid #000927;
    padding: 5px 5px;
    position: absolute;
    right: 10px;
    top: 2px;
    background: white;
    border-radius: 5px;
    transition: all 500ms;
}
.button:hover {
    background: black;
    border: 2px solid white;
}
.button a {
    color: #000927;
    text-decoration: none;
    padding: 10px;
    transition: all 500ms;
}
.button a:hover {
    color: white;
}
.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    overflow: hidden;
    position: absolute;
    right: 130px;
    top: -10px;
    transition: border 500ms;
}
.avatar:hover {
    border: 2px solid #98fff0;
}
.search {
    position: absolute;
    left: 50px;
    top: 5px;
}
.search input {
    width: 200px;
    padding: 4px;
    outline: none;
}
.search button {
    padding: 5px 10px;
    border: 2px solid #000927;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 500ms;
}
.search button:hover {
    background: black;
    border: 2px solid white;
    color: white;
}
.search-avatar {
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 20px;
}
.search-username {
    margin: 10px 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.search-username a {
    color: black;
    text-decoration: none;
}
.wrapper {
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 15px gray;
    background: #f4f4f4;
}
.fa-arrow-alt-circle-down {
    font-size: 30px;
    color: white;
    margin-top: -8px;
}
.fa-arrow-alt-circle-down:hover {
    color: #66dd66;
}