{% extends "@App/Profile/profile.html.twig" %}

{% block title %}{{ user.username }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            let wrapper = $('.wrapper');
            let follow = $('#follow');
            wrapper.css({
                'min-height' : $(window).height() - 180 +'px'
            });
            checkSubscribe(follow);
            function checkSubscribe(follow) {
                $.get('/profile/follow/check', {id: follow.val()}, function (data) {
                    if (data.isFollowing) {
                        follow.text('Отписаться');
                        follow.css({
                            'border': '2px solid black',
                            'background': 'lightgray',
                            'color' : 'black'
                        })
                    } else {
                        follow.text('Подписаться');
                        follow.css({
                            'border' : '2px solid #10004C',
                            'background': '#1b58ff',
                            'color': 'white'
                        })
                    }
                })
            }
            follow.on('click', function () {
                $.get('/profile/follow', {id: follow.val()});
                checkSubscribe(follow);
            })
        });
    </script>
{% endblock %}
