{% extends '@App/template.html.twig' %}

{% block title %}Загрузить новое фото{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .form {
            width: 400px;
            margin: 0 auto;
        }
        .form textarea {
            margin: 20px 0;
            width: 300px;
            height: 100px;
            resize: none;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="wrapper" style="text-align: center">
        <h1>Загрузить новое фото</h1>
        <div class="form">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

