{% extends "@App/template.html.twig" %}

{% block title %}{{ user.username }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
<div class="wrapper" >
    <div class="top-block">
        <div class="avatar-block">
            <div class="user-avatar">
                <img width="200" src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="avatar">
            </div>
        </div>
        <div class="info-block">
            {% if (app.user.id == user.id) == false %}
                <button id="follow" value="{{ user.id }}"></button>
            {% endif %}
            <p>Пользователь: <span class="user-info">{{ user.username }}</span></p>
            <p>E-mail адрес: <span class="user-info">{{ user.email }}</span></p>
            <p>Подписчиков: <span class="user-info"  id="count_of_followers">{{ count_of_followers }}</span></p>
            <p>Публикаций: <span class="user-info">{{ count_of_photos }}</span></p>
        </div>
    </div>
    <div class="photo-block">
        {% for photo in photos %}
            <div class="photo-box">
                <img src="{{ vich_uploader_asset(photo, 'photoFile') }}" alt="photo" width="250">
            </div>
        {% else %}
            <p>Пока нет публикаций...</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
