{% extends "@App/template.html.twig" %}

{% block title %}Feed{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/feed.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="wrapper">
        {% for photo in photos %}
            <div class="photo-box">
                <div class="photo-author">
                    <div class="author-avatar">
                        <img src="{{ vich_uploader_asset(photo.author, 'imageFile') }}" alt="avatar" width="40">
                    </div>
                    <a href="/search/user/{{ photo.author.id }}">{{ photo.author }}</a>
                </div>
                <div class="image">
                    <img src="{{ vich_uploader_asset(photo, 'photoFile') }}" alt="photo">
                </div>
                <div class="data">
                    <i class="far fa-heart" id="like{{ photo.id }}"></i>
                    <span style="margin-left: 10px; font-weight: bold" id="count{{ photo.id }}"></span>
                    {% if photo.description %}
                        <p style="margin: 5px"><strong>{{ photo.author }}</strong> {{ photo.description }}</p>
                    {% endif %}
                    <div class="comments-data" id="{{ photo.id }}">

                    </div>
                    <div style="text-align: right">
                        <span style="color: #656565; font-size: 12px">{{ photo.getUpdatedAt }}</span>
                    </div>
                </div>
                <input class="comment-field" id="field{{ photo.id }}" type="text" placeholder="Добавьте комментарий...">
            </div>
        {% else %}
            <div style="text-align: center"><p>Ничего не обнаружено</p></div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/extractNumber.js') }}"></script>
    <script src="{{ asset('js/checkLikes.js') }}"></script>
    <script src="{{ asset('js/loadComments.js') }}"></script>
    <script>
        $(function () {
            let commentsDiv = $('.comments-data');
            let fa_heart = $('.fa-heart');

            loadComments(commentsDiv);
            checkLikes(fa_heart);
            fa_heart.on('click', function () {
                $.post('/feed/like', {id: extractNumber(this.id)});
                checkLikes($(this));
            })
        })
    </script>
    <script src="{{ asset('js/addComment.js') }}"></script>
{% endblock %}